<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Détail sur {{personne.prenom}} {{personne.nom}}
  </h1>
</div>
<h2>Identité</h2>
<ul>
  <li>
    <b>Prenom : </b>{{personne.prenom}}
  </li>
  <li>
    <b>Nom : </b>{{personne.nom}}
  </li>
</ul>
<h2>Découverte Majeure</h2>
<ul>
  <li>
    <b>Découverte : </b>{{personne.decouverte}}
  </li>
  <li>
    <b>Description : </b>{{personne.description}}
  </li>
</ul>
<h2>Modification</h2>
<ul>
  <li *ngIf="!personne.nom">Aucun nom défini</li>
  <li><input
    [class.error] ="!personne.nom"
    [(ngModel)]="personne.nom"
  /></li>
  <li><input [(ngModel)]="personne.prenom"/></li>
  <li><input [(ngModel)]="personne.decouverte"/></li>
  <li><textarea rows="8" cols="80" [(ngModel)]="personne.description"></textarea></li>
</ul>
<h2 (click)="effacer(' click')">Effacer</h2>
<ul>
  <li *ngFor="let p of personnes">{{p.prenom}} {{p.nom}}</li>
</ul>
<h2>Click personnes</h2>
<ol>
  <li
    [class.selected]="p==personne"
    *ngFor="let p of personnes"
    (click)="selectionner(p)">{{p.prenom}} {{p.nom}}</li>
</ol>
